{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>

{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}



<!-- {% for x in mymembers reversed %}
  <h1>{{ x.id }}</h1>
  <p>
    {{ x.firstname }}
    {{ x.lastname }}
  </p>
{% endfor %}   -->


<!-- <ul>
    {% for x in mymembers %}
      <li>{{ forloop.counter }}</li>
    {% endfor %}
</ul>  -->

  <!-- <ul>
    {% for x in mymembers %}
      <li>{{ forloop.counter0 }}</li>
    {% endfor %}
  </ul>  -->

  <!-- <ul>
    {% for x in mymembers %}
      <li
        {% if forloop.first %}
          style='background-color:lightblue;'
        {% endif %}
      >{{ x }}</li>
    {% endfor %}
  </ul>  -->

  <!-- <ul>
    {% for x in mymembers %}
      <li
        {% if forloop.last %}
          style='background-color:lightblue;'
        {% endif %}
      >{{ x }}</li>
    {% endfor %}
  </ul>   -->


  <!-- <ul>
    {% for x in mymembers %}
      <li>{{ forloop.revcounter }}</li>
    {% endfor %}
  </ul>  -->

  <ul>
    {% for x in mymembers %}
      <li>{{ forloop.revcounter0 }}</li>
    {% endfor %}
  </ul> 

  <!-- #commenting code  -->
  {% comment "this was the original welcome message" %}
    <h1>Welcome ladies and gentlemen</h1>
  {% endcomment %}
  
  <h1>Welcome{{ mydata }} <s/h1>

</body>
</html>